.search-container{
    background-image: url('./images/BloodOcean.png');
    background-size: cover;
    height: 1000px;
    
    }
   .input-group{
       margin-left: 50%;
       margin-top:10%
   }
  